.phone
    font-family: 'FuturaDemiC', sans-serif
    transition: .4s
.button
    font-family: 'FuturaDemiC', sans-serif
    font-size: 13px
    text-transform: uppercase    
    border-radius: 2px
    padding: 10px 20px
    transition: .4s
    &--primary
        background-color: $primary
        border: 1px solid $primary
        box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2)
        color: $light
        &:hover
            background-color: transparent
            border: 1px solid $light
            box-shadow: none
    &--outline
        background-color: transparent
        border: 1px solid $light
        box-shadow: none
        color: $light
        &:hover
            background-color: $primary
            border: 1px solid $primary
.title
    font-family: 'Yeseva One', cursive
    font-weight: 400
    margin: 0
    text-transform: uppercase
    font-size: 40px
    line-height: 54px
    color: $light            
.section
    &-title
        &__heading
            font-family: 'Yeseva One', cursive
            font-weight: normal
            text-align: center
            text-transform: uppercase
            font-size: 20px    
        &__image
            text-align: center
            &::before,
            &::after
                content: ''
                display: inline-block
                vertical-align: text-top
                border-radius: 30px
                width: 32px
                height: 1.54px
                background-color: $primary
                margin: 0 9px
.label
    font-family: 'FuturaBookC', sans-serif
    font-size: 15px
    &--light
        color: rgba($light, .5)   
.input
    font-family: 'FuturaMediumC', sans-serif
    font-size: 18px
    &--light
        color: $light      