@media (max-width: 1350px)
    .hero
        .container
            max-width: 1100px
    .measurer
        &__wrap
            right: 0
        &__image
            margin-left: -130px
        &__item
            &:first-child
                right: 110px
            &:nth-child(2)
                right: 260px
            &:nth-child(3)
                right: 190px
            &:last-child
                right: 180px
@media (max-width: 1240px) 
    .col
        flex-basis: 31%
@media (max-width: 1200px) 
    .client
        &-block
            padding: 32px 20px 63px
            &__item
                max-width: 350px
    .row__step
        max-width: 700px
    .step 
        .swiper
            &-slide
                &__image
                    max-width: 685px
    .header
        .container
            max-width: 1100px
    .nav
        &__item
            margin-right: 20px
    .hero
        .container
            max-width: 1000px 
    .measurer
        &__image
            margin-left: -330px
        &__item
            &:first-child
                right: 320px
            &:nth-child(2)
                right: 470px
            &:nth-child(3)
                right: 390px
            &:last-child
                right: 390px
    .fantasy
        &-product
            &__image
                max-width: 310px
            &__left
                margin: -298px 20px -40px 0
@media (max-width: 1100px)
    .client
        &-block
            max-width: 356px
            &__item
                margin-bottom: 100px
            &s
                flex-direction: column
                align-items: center
    .team
        .container
            max-width: 960px  
    .row__step
        max-width: 620px
    .step 
        .swiper
            &-slide
                &__image
                    max-width: 605px
    .header
        .container
            max-width: 1000px  
    .nav
        display: none   
    .hero
        .container
            max-width: 900px  
    .fantasy
        .section-title
            &__heading
                font-size: 22px
                max-width: 330px
        &-product
            &__image
                max-width: 300px   
@media (max-width: 992px)
    .footer
        background: none
        background-color: $dark
        &::before
            display: none
        &__menu
            display: none
        &.section
            padding: 0 0 65px
        &__wrap
            margin: 0 auto
            max-width: 500px
            left: 0
            &::before
                display: none
        &-wrap
            padding: 0
        &__form
            flex-direction: column
        &__policy
            #user_checkbox-error
                left: 0
        .policy
            &__label
                margin-left: 0
                &--center
                    justify-content: flex-start
        &__button
            max-width: 340px
            width: 100%
    .ymap-container
        margin: 0 auto
    .client
        display: none 
    .team
        background-color: $dark 
        &__size
            margin-top: 0 
        &-block
            margin-bottom: 100px
            &s
                flex-direction: column
                align-items: center
        &__description
            display: none
    .step
        display: none 
    .design
        padding: 0
    .lines
        &__wrap
            &::before
                display: none
    .projects
        &__dark
            &::before
                display: none 
    .measurer
        display: none                    
    .hero
        &__instagram
            display: none
    .row
        flex-direction: column
        align-items: center
    .types
        &__card
            margin-bottom: 79px
    .card
        &__text
            margin: -100px 0 0
    .projects 
        .section-title
            &__heading
                margin: 0 0 22px
                &--primary
                    text-align: center
            &__word
                justify-content: center
                &::after
                    display: none
            &__description
                &--left
                    text-align: center
                    margin: 0 auto 36px
        &__towns 
            .col-50
                margin-left: 0
    .swiper
        &-container
            margin-top: 440px
        &-slide
            &__block
                height: auto
            &__image
                max-width: 100%
            &__text
                flex-basis: 45%
        &-pagination
            left: 50% !important
            transform: translateX(-50%)
        &-button
            &-next
                left: auto !important
                right: 10%
            &-prev
                left: 10%
    .col-50
        &:last-child 
            .swiper
                &-container
                    margin-top: -662px
    .control
        &__section-title
            margin-top: -360px 
    .fantasy
        padding: 0
        background: none
        &.section__relative
            position: relative
            z-index: 5
        &::before
            display: none
        &-sides
            display: none 
        .section-title
            &__heading
                &--primary
                    text-align: center
                    margin: 0 auto 24px 
        &-wrapper
            overflow: visible
            opacity: 1
            width: auto
            height: auto
        .swiper
            &-container
                margin-top: 0                           
@media (max-width: 900px)
    .swiper
        &-container
            margin-top: 380px
    .col-50
        &:last-child 
            .swiper
                &-container
                    margin-top: -600px
@media (max-width: 768px)   
    .projects
        padding: 36px 0 355px
        &__dark
            margin-top: 0
            &::before
                display: none 
        &__towns
            &::before,
            &::after
                display: none
        .section-title
            &__heading
                font-size: 22px
                line-height: 138.6%
            &__description
                font-size: 14px
                line-height: 23px
                max-width: 300px
    .swiper
        &-container
            margin-top: 480px
        &-slide
            padding-bottom: 37px
    .col-50
        width: 75%
        &:last-child 
            .swiper
                &-container
                    margin-top: -680px
    .hero
        &__content
            margin: 0 auto
        &__scroll
            display: none
        &__bg
            &::after
                display: none
    .contacts
        &__button
            display: none
        &__phone
            margin-right: 0
    .phone
        &--primary
            color: $light
            border-bottom: none
    .control
        background-color: $dark
        &.section
            padding: 60px 0 0
        &__text
            color: $light
        &__input
            background-color: $dark
            color: $light
            &::placeholder
                color: $light
        &__label
            color: rgba($light, .5)
        &__policy 
            margin-top: 0
            margin-bottom: 62px
            max-width: 600px
            width: 100%
            left: 0
            .policy
                &__label
                    color: $light
                    justify-content: flex-start
                    align-items: flex-start
        &__form
            flex-direction: column
            align-items: center
            width: 100%
            margin: 53px auto 0
        &__group
            max-width: 600px
            margin-bottom: 63px
            &:nth-child(2)
                margin-bottom: 28px
        &__button
            order: 2
            max-width: 340px
            width: 100%
            margin-bottom: -25px
@media (max-width: 680px) 
    .swiper
        &-container
            margin-top: 430px
    .col-50
        &:last-child 
            .swiper
                &-container
                    margin-top: -630px                   
@media (max-width: 600px)  
    .control
        &__video
            max-width: 340px
            min-height: 207px
            background-size: cover
    .video
        &__play
            width: 80px
            height: 80px
    .swiper
        &-container
            margin-top: 360px
        &-slide
            &__title,
            &__value
                font-size: 14px
            &__text
                flex-basis: 50%
    .col-50
        &:last-child 
            .swiper
                &-container
                    margin-top: -540px                  
@media (max-width: 500px)  
    .footer
        &.section
            padding: 0 0 200px
        &__size
            margin-top: -80px
            position: relative
            z-index: 5
        .container
            position: relative
        &__center
            position: absolute
            bottom: -200px
        &-text
            font-size: 18px
        &__text
            max-width: 320px
        &__center
            left: 50%
            transform: translateX(-50%)
            width: 100%
    #map-yandex
        height: 320px
    .ymap-container
        margin: 45px auto 0            
    .swiper
        &-container
            margin-top: 320px
    .col-50
        &:last-child 
            .swiper
                &-container
                    margin-top: -500px                   
    .header
        padding: 20px 0
    .title
        font-size: 23px
        line-height: 33px
    .hero
        &__text
            font-size: 18px
            line-height: 24px
            max-width: 320px
        &__content
            max-width: 370px
        &__button
            width: 100%
            margin-right: 0
            margin-bottom: 26px
@media (max-width: 425px) 
    .modal
        &-thanks
            &__text
                font-size: 16px
                max-width: 255px
    .team 
        .section-title
            &__description
                font-size: 15px
                line-height: 24px
                max-width: 320px
    .control
        &__text
            font-size: 14px
            margin: 50px auto 0
            &::before
                margin-top: -18px
        &__form
            margin: 26px auto 0
    .swiper
        &-container
            margin-top: 320px
    .col-50
        width: 100%
        &:last-child 
            .swiper
                &-container
                    margin-top: -530px
    .hero           
        &__bg
            height: 532px
        &__content
            padding-top: 93px
        &__title
            margin: 25px 0 11px 3px
    .logo
        font-size: 12px
    .phone
        font-size: 12px
    .menu
        &__logo
            margin-left: 2px
    .contacts
        &__phone
            margin-right: 3px
    .modal
        &__close
            width: 27px
            height: 27px
    .card
        &__text
            max-width: 270px
            padding: 21px 31px 37px
        &__title
            font-size: 15px
        &__item
            font-size: 13px
            line-height: 20px
        &__pricetag
            font-size: 15px
            padding: 11px 10px
            min-width: 190px
            height: 40px
    .design
        padding: 200px 0 0
        &__size
            margin-top: -160px
        &--dark
            background-color: $dark
        &__heading,
        &__description
            color: $light
        &__description
            font-size: 15px
            line-height: 22px
        .card
            &__pricetag
                text-align: center
                padding: 11px 10px
                display: flex
                align-items: center
                justify-content: center
@media (max-width: 390px)
    .swiper
        &-container
            margin-top: 300px
    .col-50
        width: 100%
        &:last-child 
            .swiper
                &-container
                    margin-top: -500px     
@media (max-width: 375px) 
    .footer
        &.section
            padding: 0 0 220px
        &__size
            margin: -110px auto 0
        &__title
            margin: 0 0 47px
        &__wrap
            max-width: 340px
        &__group
            flex-basis: 100%
            margin-bottom: 62px
            &:nth-child(3)
                margin-bottom: 8px
        &__button
            margin: 68px auto 0
        &__center
            bottom: -219px
        &-text
            line-height: 24px
        &-socials
            &__link
                width: 40px
                height: 40px
    #map-yandex
        height: 256px
    .team
        &__size
            margin-top: -160px
            position: relative
            z-index: 5
        .section-title
            &__description
                line-height: 20px
    .design
        &__description
            margin: 15px auto 33px
        .section-title
            &__description
                max-width: 300px
            &__image
                &::before,
                &::after
                    margin: -1px 5px
        &__card
            margin-bottom: 85px
        .card
            &__text
                margin: -146px 0 0 2px
            &__pricetag
                margin-left: 0
                box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3)
    .types
        padding: 83px 0 0
        &__heading
            margin: 0 0 19px
        &__card
            margin: 36px 0 46px
    .card
        &__title
            margin: 0 0 15px 3px
        &__text
            max-width: 274px
            margin: -146px 0 0
        &__list
            margin: -7px 0 0 1px
        &__item
            line-height: 22px
        &__pricetag
            bottom: -24px
            margin-left: 4px
    .video
        &__play
            width: 70px
            height: 70px
    .control
        .section-title
            margin-top: -366px
            &__heading
                margin-bottom: 20px 
            &__image
                &::before,
                &::after
                    margin: -2px 5px 0
        &__video
            min-height: 209px
            margin: 36px auto 0
        &__text
            line-height: 24px
            margin: 45px auto 0
        &__group
            margin-left: 3px
            &:nth-child(1)
                margin-top: 2px
            &:nth-child(2)
                margin-bottom: 15px
        &__label
            margin-bottom: -3px
        &__policy
            margin-left: 3px
    .section-title
        &__heading
            font-size: 22px  
        &__image
            &::before,
            &::after
                margin: -2px 8px
    .hero
        .container
            padding: 0 17px
        &__content
            padding-top: 76px
        &__text
            margin: 0 0 33px 3px   
    .modal
        &__title
            font-size: 16px 
            line-height: normal
            max-width: 270px
        &__dialog
            padding: 33px 20px 27px  
    .swiper
        &-container
            margin-top: 274px
        &-slide
            padding-bottom: 25px
            &__text
                margin-bottom: 30px
                flex-basis: 46%
            &__title,
            &__value
                margin-left: 3px
        &-button
            &-prev
                left: 20%
                bottom: 2px
            &-next
                right: 20%
                bottom: 2px
    .col-50
        &:last-child 
            .swiper
                &-container
                    margin-top: -465px 
    .design
        padding: 172px 0 0
        &__size
            margin-top: -145px
    .fantasy 
        .section-title
            &__heading
                &--primary
                    margin: 22px auto 24px
@media (max-width: 365px)
    .team
        &-block
            &__box
                top: -15px
                left: -15px
    .fantasy 
        .section-title
            &__heading
                font-size: 20px
                max-width: 300px
                line-height: normal
@media (max-width: 350px)
    .modal
        &-thanks
            &__text
                font-size: 14px
                max-width: 220px
    .footer
        &-text
            font-size: 16px
        &__text
            max-width: 280px
    .fantasy 
        .section-title
            &__heading
                font-size: 18px
                max-width: 280px
    .swiper
        &-container
            margin-top: 284px 
        &-button
            &-prev
                left: 5%
            &-next
                right: 5%
        &-slide
            &__text
                flex-basis: 50%
    .col-50
        &:last-child 
            .swiper
                &-container
                    margin-top: -450px                  